doctype html
div Popular feeds:
  button.popular(
    ng-repeat="feed in popular"
    ng-bind="feed.title"
    ng-click="AddFeedUrl(feed.link)")
form.middle(name="addFeed")
  input(
    type="url"
    ng-model="feedSearch"
    ng-disabled="feedLoading")
  &nbsp;
  button(
    ng-disabled="!feedSearch||!addFeed.$valid"
    ng-click="AddFeed()") Add feed
  span.error(ng-show="feedError")
    &nbsp;
    span(ng-bind="feedError")
    &nbsp;
    span.remove(ng-click="feedError=''") &times;
div#feeds
  div.feed(ng-repeat="feed in feeds")
    h2
      a(target="_blank"
        ng-hide="feed.error"
        ng-href="{{feed.link}}"
        ng-bind-html-unsafe="feed.title")
      &nbsp;
      button.remove(href,ng-click="feeds.splice($index,1)") &times;
    div.items
      div.item(ng-repeat="item in feed.items",masonry)
        h3
          span.triangle.right(
            ng-class="{down:item.open}"
            ng-click="item.open=!item.open")
          a.itemLink(target="_blank"
            ng-href="{{item.link}}"
            ng-bind-html-unsafe="item.title")
        p(ng-bind-html-unsafe="item.summary"
          ng-show="item.open"
          ng-animate='drop')
