doctype html
div Popular feeds:
  button.popular(
    ng-repeat="feed in popular"
    ng-bind="feed.title"
    ng-click="AddFeedUrl(feed.link)")
form.middle(name="addFeed")
  input(
    type="url"
    ng-model="feedSearch"
    ng-disabled="feedLoading")
  &nbsp;
  button(
    ng-disabled="!feedSearch||!addFeed.$valid"
    ng-click="AddFeed()") Add feed
  span(ng-show="feedLoading") Loading...
  span(ng-show="feedError",ng-bind="feedError")
div.feed(ng-repeat="feed in feeds")
  h2
    a(target="_blank"
      ng-hide="feed.error"
      ng-href="{{feed.link}}"
      ng-bind-html-unsafe="feed.title")
    &nbsp;
    a.remove(href,ng-click="feeds.splice($index,1)") &times;
  div.item(ng-repeat="item in feed.items")
    h3
      a(target="_blank"
        ng-href="{{item.link}}"
        ng-bind-html-unsafe="item.title")
    p(ng-bind-html-unsafe="item.summary")
